#root {
  max-width: 1280px;
  width: 350px;
  height:600px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  /* justify-content: center; */
  text-align: center;
  align-items:center;
  background-color:#1a1c22;
}
.header{
  /* display:flex;
  justify-content:center; */
  width:350px;
  height:310px;
  /* border:4px solid red; */
  margin: 0;
}
.about{
  margin:0;
  display:flex;
  align-items:center;
  justify-content:center;
  width:350px;
  height: 250px;
  /* border: 1px solid blue; */
  flex-direction: column;
  /* padding: 0 5px; */
}

.footer{
  padding-top:5px;
  padding-bottom:3px;
  display:flex;
  justify-content: space-around;
  align-items:bottom;
  width:350px;
  height:50px;
  background-color:#161618;
}
